<div class="thank-you-container" *ngIf="orderPlaced">
  <div class="confirmation-text">
    <p class="thank-you mb-5 h1">Thank you!</p>
    <p class="h3">Your order has been placed successfully.</p>
  </div>

  <div class="order-details">
    <div class="order-details">
      <p><strong>Order ID:</strong> #{{ order_id }}</p>
      <p><strong>Order Date:</strong>{{ order_date }}</p>
    </div>
  </div>

  <div class="text-center">
    <button
      class="btn btn-lg btn-continue-shopping mr-2"
      routerLink="../product-list"
    >
      Continue Shopping
    </button>
    <a href="#" class="btn btn-lg btn-primary" routerLink="../orders"
      >See Orders</a
    >
  </div>
</div>

<div class="container mt-5" *ngIf="total_amount != 0 && !orderPlaced">
  <div class="col-md-6 mx-auto">
    <div class="mb-4 h3">Checkout</div>
    <div class="card">
      <div class="card-body">
        <h4>Order Summary</h4>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>Total Amount</td>
              <td class="text-right">${{ total_amount }}</td>
            </tr>
            <tr>
              <td>Discount ({{ discount_percentage }}%)</td>
              <td class="text-right">${{ discount_amount }}</td>
            </tr>
            <tr>
              <td>Gross Amount</td>
              <td class="text-right">${{ gross_amount }}</td>
            </tr>
            <tr>
              <td>GST Amount ({{ gst_percentage }}%)</td>
              <td class="text-right">${{ gst_amount }}</td>
            </tr>
            <tr>
              <td>Delivery Charge</td>
              <td class="text-right">${{ delivery_charge }}</td>
            </tr>
            <tr>
              <td><strong>Net Amount</strong></td>
              <td class="text-right">
                <strong>${{ net_amount }}</strong>
              </td>
            </tr>
            <tr *ngIf="currentAddress.length != 0">
              <td>Delivery Address</td>
              <td class="text-right">
                {{
                  currentAddress.address_line_1 +
                    ", " +
                    currentAddress.address_line_2 +
                    ", " +
                    currentAddress.landmark
                }}
              </td>
            </tr>
          </tbody>
        </table>
        <span class="mb-2" style="color: red" *ngIf="currentAddress.length != 0"
          >**if you want to change your address then change from profile
          section</span
        >

        <div
          class="text-center"
          *ngIf="currentAddress.length != 0; else errorTemp"
        >
          <button class="btn btn-primary btn-lg" (click)="makeOrder()">
            Place Order
          </button>
        </div>

        <ng-template #errorTemp>
          <span style="color: red"
            >**You don't have any address please add address from profile
            section to place order</span
          >
        </ng-template>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5" *ngIf="total_amount == 0 && !orderPlaced">
  loading...
</div>

<!-- <div class="container mt-5" *ngIf="total_amount == 0 && orderPlaced">
  <p>you don't have any product in cart</p>
  <div class="btn btn-primary" routerLink="../product-list">Shop Now</div>
</div> -->
