<h1 style="margin: 20px">All Users</h1>

<form [formGroup]="userFormArray" style="margin: 0 20px">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let userFormGroup">
        {{ userFormGroup.get("id").value }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let userFormGroup; let i = index">
        <mat-form-field appearance="outline">
          <input
            matInput
            (blur)="addValidators('name', i)"
            [formControl]="userFormGroup.get('name')"
            placeholder="Name"
          />
          <mat-error
            *ngIf="
              userFormGroup.get('name').invalid &&
              userFormGroup.get('name').touched
            "
          >
            Name is required
          </mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> email </mat-header-cell>
      <mat-cell *matCellDef="let userFormGroup; let i = index">
        <mat-form-field appearance="outline">
          <input
            matInput
            (blur)="addValidators('email', i)"
            [formControl]="userFormGroup.get('email')"
            placeholder="email"
          />
          <mat-error
            *ngIf="
              userFormGroup.get('email').invalid &&
              userFormGroup.get('email').touched
            "
          >
            email is required
          </mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="password">
      <mat-header-cell *matHeaderCellDef> password </mat-header-cell>
      <mat-cell *matCellDef="let userFormGroup; let i = index">
        <mat-form-field appearance="outline">
          <input
            matInput
            (blur)="addValidators('password', i)"
            [formControl]="userFormGroup.get('password')"
            placeholder="password"
          />
          <mat-error
            *ngIf="
              userFormGroup.get('password').invalid &&
              userFormGroup.get('password').touched
            "
          >
            password is required
          </mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
      <mat-cell *matCellDef="let userFormGroup; let i = index">
        <mat-form-field appearance="outline">
          <mat-select
            (blur)="addValidators('role', i)"
            [formControl]="userFormGroup.get('role')"
            placeholder="role"
          >
            <mat-option *ngFor="let role of roles" [value]="role">
              {{ role }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              userFormGroup.get('role').invalid &&
              userFormGroup.get('role').touched
            "
          >
            Role is required
          </mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let userFormGroup; let i = index">
        <!-- <button mat-raised-button color="accent" (click)="onSave(i)">
          save
        </button> -->
        <mat-icon
          *ngIf="userFormGroup.get('id').value != ''"
          fontIcon="delete"
          color="warn"
          (click)="onDelete(i)"
        ></mat-icon>
        <mat-icon
          fontIcon="close"
          (click)="removeRow(i)"
          *ngIf="userFormGroup.get('id').value == ''"
        >
        </mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="userColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: userColumns"
      class="rowMargin"
    ></mat-row>
  </mat-table>
  <button
    mat-raised-button
    color="primary"
    (click)="addRow()"
    style="float: right"
  >
    <mat-icon fontIcon="add"></mat-icon>
    Add User
  </button>
  <button mat-raised-button color="primary" (click)="onSubmit(userFormArray)">
    save
  </button>
</form>
