<!-- Main Content - Right -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <!-- Total Products -->
      <div class="col-md-4">
        <div class="card product-card">
          <div class="img-container">
            <div class="product-img"></div>
          </div>

          <div class="card-body">
            <h5 class="card-title">
              <i class="fa fa-th-large" aria-hidden="true"></i> Total Products
            </h5>
            <p class="card-text">{{ totalProducts }}</p>
          </div>
        </div>
      </div>
      <!-- Total Categories -->
      <div class="col-md-4">
        <div class="card category-card">
          <div class="img-container">
            <div class="img-container">
              <div class="category-img"></div>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <i class="fa fa-tags" aria-hidden="true"></i> Total Categories
            </h5>
            <p class="card-text">{{ totalCategories }}</p>
          </div>
        </div>
      </div>
      <!-- Total Users -->
      <div class="col-md-4">
        <div class="card user-card">
          <div class="img-container">
            <div class="user-img"></div>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <i class="fa fa-users" aria-hidden="true"></i> Total Users
            </h5>
            <p class="card-text">{{ totalUsers }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
