<div class="container mt-5">
  <div class="mb-4 h3">User Profile</div>
  <div class="row">
    <div class="col">
      <div class="profile-details">
        <table class="table">
          <tr>
            <th>Name</th>
            <td>{{ user.username }}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
          </tr>
          <tr>
            <th>Phone</th>
            <td>{{ user.mobile_number }}</td>
          </tr>
          <tr *ngIf="user.user_addresses.length > 0">
            <th>Address</th>
            <td>
              {{
                user.user_addresses[0].address_line_1 +
                  ", " +
                  user.user_addresses[0].address_line_2 +
                  ", " +
                  user.user_addresses[0].landmark
              }}
            </td>
            <td><a class="edit-btn" (click)="editAddress()">Edit</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="user.user_addresses.length == 0">
  <div class="mb-4 h3">User Address</div>
  <form [formGroup]="addressForm" (ngSubmit)="addAddress()">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        formControlName="address_line_1"
        placeholder="address line 1"
      />
    </div>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        formControlName="address_line_2"
        placeholder="address line 2"
      />
    </div>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        formControlName="landmark"
        placeholder="landmark"
      />
    </div>
    <button type="submit" class="btn btn-primary btn-block">Add Address</button>
  </form>
</div>

<div class="container" *ngIf="updateAddressToggle">
  <div class="mb-4 h3">User Address</div>
  <form
    [formGroup]="updateAddressForm"
    (ngSubmit)="updateAddress(user.user_addresses[0].id)"
  >
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        formControlName="address_line_1"
        placeholder="address line 1"
      />
    </div>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        formControlName="address_line_2"
        placeholder="address line 2"
      />
    </div>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        formControlName="landmark"
        placeholder="landmark"
      />
    </div>
    <button type="submit" class="btn btn-primary btn-block">
      Update Address
    </button>
  </form>
</div>
