<div class="modal" tabindex="-1" id="exampleModal" [formGroup]="editUserForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit User</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeEditModal()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container mt-2">
          <form>
            <div class="mb-3">
              <label for="userName" class="form-label">User Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="userName"
                placeholder="Enter user name"
                required
              />
            </div>
            <div class="mb-3">
              <label for="userEmail" class="form-label">User Email</label>
              <input
                type="text"
                class="form-control"
                formControlName="userEmail"
                placeholder="Enter user email"
                required
              />
            </div>
            <div class="mb-3">
              <label for="userPassword" class="form-label">User Password</label>
              <input
                type="text"
                class="form-control"
                formControlName="userPassword"
                placeholder="Enter user password"
                required
              />
            </div>
            <div class="mb-3">
              <label for="userAvatar" class="form-label">User Avatar</label>
              <input
                type="text"
                class="form-control"
                formControlName="userAvatar"
                placeholder="Enter user avatar"
                required
              />
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="updateUser()">
          Update User
        </button>
      </div>
    </div>
  </div>
</div>
