<h1 style="margin: 20px">All tasks</h1>

<form [formGroup]="taskFormArray" style="margin: 0 20px">
  <button
    type="button"
    mat-raised-button
    (click)="fileInput.click()"
    color="warn"
    style="margin: 0 10px 0 0"
  >
    <mat-icon fontIcon="import_export"></mat-icon>Import
  </button>
  <input
    hidden
    #fileInput
    type="file"
    id="file"
    (change)="importTaskData($event)"
  />
  <button mat-raised-button color="accent" (click)="exportTaskData()">
    <mat-icon fontIcon="import_export"></mat-icon> Export
  </button>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let taskFormGroup">
        {{ taskFormGroup.get("id").value }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let taskFormGroup; let i = index">
        <mat-form-field appearance="outline">
          <input
            matInput
            (blur)="addValidators('title', i)"
            [formControl]="taskFormGroup.get('title')"
            placeholder="Name"
          />
          <mat-error
            *ngIf="
              taskFormGroup.get('title').invalid &&
              taskFormGroup.get('title').touched
            "
          >
            Name is required
          </mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let taskFormGroup; let i = index">
        <mat-form-field appearance="outline">
          <input
            matInput
            (blur)="addValidators('description', i)"
            [formControl]="taskFormGroup.get('description')"
            placeholder="description"
          />
          <mat-error
            *ngIf="
              taskFormGroup.get('description').invalid &&
              taskFormGroup.get('description').touched
            "
          >
            Description is required
          </mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="assigned_to">
      <mat-header-cell *matHeaderCellDef> Assigned_to </mat-header-cell>
      <mat-cell *matCellDef="let taskFormGroup; let i = index">
        <mat-form-field appearance="outline">
          <mat-select
            (blur)="addValidators('assigned_to', i)"
            [formControl]="taskFormGroup.get('assigned_to')"
            placeholder="assigned_to"
          >
            <mat-option *ngFor="let user of users" [value]="user.id">{{
              user.name
            }}</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              taskFormGroup.get('assigned_to').invalid &&
              taskFormGroup.get('assigned_to').touched
            "
          >
            Please assign a user
          </mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="due_date">
      <mat-header-cell *matHeaderCellDef> Due Date </mat-header-cell>
      <mat-cell *matCellDef="let taskFormGroup; let i = index">
        <mat-form-field appearance="outline">
          <input
            matInput
            (blur)="addValidators('due_date', i)"
            [matDatepicker]="picker"
            [formControl]="taskFormGroup.get('due_date')"
            readonly
            placeholder="due_date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error
            *ngIf="
              taskFormGroup.get('due_date').invalid &&
              taskFormGroup.get('due_date').touched
            "
          >
            Due date is required
          </mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let taskFormGroup; let i = index">
        <mat-form-field appearance="outline">
          <mat-select
            (blur)="addValidators('status', i)"
            [formControl]="taskFormGroup.get('status')"
            placeholder="status"
          >
            <mat-option *ngFor="let option of statusOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              taskFormGroup.get('status').invalid &&
              taskFormGroup.get('status').touched
            "
          >
            Status is required
          </mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let taskFormGroup; let i = index">
        <!-- <button mat-raised-button color="accent" (click)="onSave(i)">
          save
        </button> -->
        <mat-icon
          *ngIf="taskFormGroup.get('id').value != ''"
          fontIcon="delete"
          color="warn"
          (click)="onDelete(i)"
        ></mat-icon>
        <mat-icon
          fontIcon="close"
          (click)="removeRow(i)"
          *ngIf="taskFormGroup.get('id').value == ''"
        >
        </mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="myTaskColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: myTaskColumns"
      class="rowMargin"
    ></mat-row>
  </mat-table>
  <button
    mat-raised-button
    color="primary"
    (click)="addRow()"
    style="float: right"
  >
    <mat-icon fontIcon="add"></mat-icon>
    Add Task
  </button>
  <button
    mat-raised-button
    color="accent"
    (click)="onSubmit()"
    style="float: right; margin: 0 10px"
  >
    Save
  </button>
</form>
