@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.container {
  height: 500px;
  width: 350px;
  position: relative;
  background-color: #fff;
  box-shadow: 1px 1px 20px #ddd;
}

.heading {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.heading h1 {
  font-weight: 500;
  letter-spacing: 3px;
}

.navbar {
  height: 40px;
  /* background-color: red; */
  padding: 10px 0 20px 0;
  font-weight: 400;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}
.product-list {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: red; */
  overflow: auto;
}

.product-list img {
  height: 50px;
}

.product-list .product {
  padding: 10px 0;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.5px solid #ddd;
}
.product-details {
  width: 100px;
}
.product-details h3 {
  font-weight: 500;
}
.product-price {
  margin-top: 5px;
  font-size: 15px;
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.count {
  width: 20px;
  text-align: center;
  font-weight: 500;
}

#increment,
#decrement {
  border: none;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  cursor: pointer;
}

.total-price {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.total-price h3 {
  font-weight: 500;
}
.total-price h4 {
  font-size: 20px;
}

.checkout button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}

/* cart.html style */
::-webkit-scrollbar {
  display: none;
}

.orders-list {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.orders-list .order {
  padding: 10px 0;
  width: 80%;
  margin: 5px 0;
  border: 0.5px solid #ddd;
}

.order-id {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.date {
  font-size: 12px;
}

.order-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.item-list {
  width: 100%;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item-box {
  width: 50px;
}

.order-total-price {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0 0 0;
  padding: 0 20px;
}

.order-total-price h4 {
  font-weight: 500;
  margin: 0 5px;
}

.order-total-price span {
  font-weight: 700;
  margin: 0 5px;
}
