ul {
  display: flex;
}
ul li {
  margin: 0px 10px;
  list-style: none;
  cursor: pointer;
}

ul li a {
  text-decoration: none;
  color: inherit;
}
.user-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
}
