/* navbar.component.css */
.mat-toolbar {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  /* background-color: rebeccapurple; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchbar {
  width: 300px;
  height: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.searchbar mat-icon {
  color: #aaa;
}

.searchbar input {
  border: none;
  outline: none;
  padding: 0 10px;
  width: 100%;
}

a {
  cursor: pointer;
}

.brand {
  font-size: 1.5rem;
  color: #000;
}

.user-section {
  display: flex;
  align-items: center;
  background-color: red;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  margin-right: 20px;
  color: #000;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-icons {
  display: flex;
  align-items: center;
}

.nav-icon {
  margin-right: 10px;
  color: #000;
  font-size: 24px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  color: #000;
}
