* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 100vh;
  width: 20%;
  padding-top: 20px;
  /* background-color: yellowgreen; */
  border-right: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

ul li {
  list-style: none;
  margin: 10px;
  /* background-color: red; */
  padding: 10px;
}
ul li a {
  color: #000;
  text-decoration: none;
}

.dashboard {
  height: 100vh;
  width: 80%;
  padding: 20px;
}
.dashboard .heading {
  height: 20%;
}
.user-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.user-box {
  height: 200px;
  width: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.birthday-msg {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}
