* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  height: 500px;
  width: 500px;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.login-container form {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  height: 30px;
  width: 200px;
  padding: 10px;
}

.state select {
  height: 30px;
  width: 200px;
}

.register button,
.login button {
  height: 30px;
  width: 200px;
}

.hidden {
  display: none;
}

/* dashboard.html styles */

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 100vh;
  width: 20%;
  padding-top: 20px;
  background-color: yellowgreen;
  border-right: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

ul li {
  list-style: none;
  margin: 10px;
  /* background-color: red; */
  padding: 10px;
}
ul li a {
  color: #000;
  text-decoration: none;
}

.dashboard {
  height: 100vh;
  width: 80%;
  padding: 20px;
}
.dashboard .heading {
  height: 20%;
}
.user-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.user-box {
  height: 200px;
  width: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.birthday-msg {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

/* user.html styling */

.user-form {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-form form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  height: 30px;
  width: 200px;
  padding: 10px;
}

.add-btn {
  width: 100%;
  position: relative;
}

.add-btn button {
  position: absolute;
  right: 50px;
  padding: 10px 20px;
}

.user-list {
  margin: 100px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
}

table tr td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 10px;
}

.delete {
  color: red;
}
.edit {
  color: blue;
}
.delete:hover,
.edit:hover {
  cursor: pointer;
}

/* subUser.html styling */
