* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 100vh;
  width: 20%;
  padding-top: 20px;
  /* background-color: yellowgreen; */
  border-right: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

ul li {
  list-style: none;
  margin: 10px;
  /* background-color: red; */
  padding: 10px;
}
ul li a {
  color: #000;
  text-decoration: none;
}

.dashboard {
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.dashboard h2,
.dashboard h3 {
  margin: 100px;
}
