<div class="container mt-5">
  <div class="mb-4 h3">Order Tracking</div>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Order Date</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Payment Mode</th>
        <th scope="col">Order Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>{{ order.date }}</td>
        <td>{{ order.total }}</td>
        <td>{{ order.payment }}</td>
        <td class="font-weight-bold">{{ order.status }}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm">
            View Details
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
