<div class="container mt-5" *ngIf="orders.length != 0">
  <div class="mb-4 h3">Order Tracking</div>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Order Date</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Order Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.attributes.order_id }}</td>
        <td>
          {{ formatTimestamp(order.attributes.order_date) }}
        </td>
        <td>{{ order.attributes.total_amount }}</td>
        <td class="font-weight-bold">{{ order.attributes.order_status }}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm mx-2">
            View Details
          </button>
          <button
            type="button"
            class="btn btn-danger btn-sm mx-2"
            (click)="cancelOrder(order.id)"
          >
            cancel order
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container mt-5" *ngIf="orders.length == 0 && !ordersEmpty">
  <p>loading...</p>
</div>

<div class="container mt-5" *ngIf="ordersEmpty">
  <p>You don't have any order please place order from shopping cart</p>
  <div class="btn btn-primary" routerLink="../shopping-cart">Go to cart</div>
</div>
