<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">🛍️Smart Cart🛒</div>

  <ul class="navbar-nav m-auto">
    <li class="nav-item active">
      <a class="nav-link" routerLink="">Home🏠</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="product-list">Product List📃</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="shopping-cart">Shopping Cart🛒</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="orders">Orders🚜</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="wishlist">Wishlist🌟</a>
    </li>
  </ul>

  <form class="form-inline my-2 my-lg-0 mr-3">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Search
    </button>
  </form>

  <ul class="navbar-nav">
    <li class="nav-link mx-3" id="user" routerLink="user-profile">
      {{ username }}
    </li>
    <li>
      <a class="nav-link" (click)="logoutUser()">logout</a>
    </li>
  </ul>
</nav>
