<mat-paginator
  [length]="filterProducts.length"
  [pageSize]="pageSize"
  (page)="getPaginatorData($event)"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPageSizeChange($event)"
  showFirstLastButtons="false"
>
</mat-paginator>

<div class="container mt-1">
  <mat-form-field>
    <mat-label>Choose category</mat-label>
    <mat-select (selectionChange)="onCategoryChange($event)">
      <mat-option
        *ngFor="let category of categories"
        [value]="category.attributes.category_name"
      >
        {{ category.attributes.category_name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="row">
    <div *ngIf="products.length == 0">loading...</div>
    <div
      class="col-md-3 mb-4"
      *ngFor="let product of filterProducts | slice : lowValue : highValue"
    >
      <div class="card">
        <div class="img-container">
          <div class="image-wrapper">
            <img
              [src]="
                baseUrl +
                product.attributes.product_image.data[0].attributes.url
              "
              class="card-img-top"
              alt="Product Image"
            />
          </div>
        </div>
        <div class="card-body">
          <h2 class="card-title">{{ product.attributes.product_name }}</h2>
          <p class="card-text">{{ product.attributes.product_description }}</p>
          <p>${{ product.attributes.price }}</p>
          <p>
            Category:
            {{ product.attributes.category.data.attributes.category_name }}
          </p>
          <a
            class="btn btn-sm mr-2"
            [ngClass]="
              presentInCart.includes(product.id) ? 'btn-success' : 'btn-primary'
            "
            (click)="addProductToCart(product.id)"
            >{{
              presentInCart.includes(product.id) ? "Added" : "Add to Cart"
            }}</a
          >
          <a
            class="btn btn-sm btn-secondary"
            (click)="showProductDetails(product)"
            >View Details</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="productDetailsModal">
  <app-product-details
    [product]="product"
    (productDetailsChange)="onProductDetailsChange($event)"
  ></app-product-details>
</ng-container>
