<!-- task-management.component.html -->

<mat-table [dataSource]="tasks" class="mat-elevation-z8">
  <!-- Define columns -->
  <ng-container *ngFor="let column of displayedColumns">
    <ng-container [matColumnDef]="column">
      <mat-header-cell *matHeaderCellDef>
        {{ column | titlecase }}
      </mat-header-cell>
      <mat-cell *matCellDef="let task">
        <ng-container>
          <ng-container *ngIf="column !== 'status'; else statusCell">
            <ng-container> {{ task[column] }} </ng-container>
          </ng-container>
        </ng-container>

        <ng-template #statusCell>
          <mat-form-field appearance="outline">
            <mat-select
              [(ngModel)]="task[column]"
              (selectionChange)="onEdit(task)"
            >
              <mat-option *ngFor="let option of statusOptions" [value]="option">
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-template>
      </mat-cell>
    </ng-container>
  </ng-container>

  <!-- Define the table rows -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="rowMargin"
  ></mat-row>
</mat-table>
