<!-- task-management.component.html -->

<mat-table [dataSource]="tasks" class="mat-elevation-z8">
  <!-- Define columns -->
  <ng-container *ngFor="let column of displayedColumns">
    <ng-container [matColumnDef]="column">
      <mat-header-cell *matHeaderCellDef>{{
        column | titlecase
      }}</mat-header-cell>
      <mat-cell *matCellDef="let task">
        {{ task[column] }}
      </mat-cell>
    </ng-container>
  </ng-container>

  <!-- Define the table rows -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
