* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* parent container style */
.container {
  height: 100vh;
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* child-container style */
.box-container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* box style */
.box {
  height: 345px;
  width: 215px;
  display: flex;
  flex-direction: column;
}

/* img style */
.box img {
  height: 315px;
  width: 215px;
}

/* caption style */
figcaption {
  height: 30px;
  background-color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* paragraph style */
.paragraph {
  width: 70%;
  margin-top: 30px;
  text-align: center;
}
